In [1]:
import pickle
from joblib import dump, load
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [29]:
data_json = {
    "nom": "lisa",
  "genre": "Female",
  "stat": "Yes",
  "envi": "Urban",
  "education": "Graduate",
  "nbrPersonne": "2",
  "revenu": "230000",
  "typetravail": "No",
  "pret": "500000",
  "duree": "7",
  "history": "1.0"
}

In [ ]:
data_json['genre']

In [30]:
df = pd.DataFrame(np.array([[data_json['genre']], [data_json['stat']],
                            [data_json['education']], [data_json['typetravail']],
                            [data_json['history']], [data_json['envi']]]).reshape((1,6)))
df.columns = ['genre', 'stat', 'education', 'typetravail', 'history', 'envi']

In [31]:
df.columns = ['genre', 'stat', 'education', 'typetravail', 'history', 'envi']
df

    genre stat education typetravail history   envi
0  Female  Yes  Graduate          No     1.0  Urban

In [17]:
classifier = load('class_pret.pkl')
y_test = classifier.predict()

In [26]:
def traduc(df):
    if df['genre'] == 'Male':
        df['genre']= 1.
    else:
        df['genre']= 0.
        
    if df['stat'] == 'Yes':
        df['stat']= 1.
    else:
        df['stat']= 0.
        
    if df['education'] == 'Graduate':
        df['education']= 1.
    else:
        df['education']= 0.
    
    if df['typetravail'] == 'Yes':
        df['typetravail']= 1.
    else:
        df['typetravail']= 0.
        
    if df['history'] == '1.0':
        df['history']= 1.
    else:
        df['history']= 0.

In [34]:
df['genre']=='Male'

0    False
Name: genre, dtype: bool

In [18]:
test_data = pd.read_csv('test_pret.csv')
test_index = test_data['Loan_ID']

In [19]:
# Prediction de data set du test mais avant le transformer avec cette fonction
def transf_test(df):
    df.drop(['Loan_Amount_Term','LoanAmount','CoapplicantIncome','ApplicantIncome','Dependents','Loan_ID','Property_Area']
            ,axis=1,inplace=True)


    # Transformer le type des variable object en category
    cols =['Gender','Married', 'Education','Self_Employed','Credit_History']

    for c in cols:
        df[c] =df[c].astype('category')

    # Encodage des variables
    X = pd.get_dummies(df, drop_first=False)
    
    return X

In [20]:
test_data = transf_test(test_data)

In [21]:
test_data.head(5)

,Gender_Female,Gender_Male,Married_No,Married_Yes,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Credit_History_0.0,Credit_History_1.0,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0,1,0,1,1,0,1,0,0,1,0,0,1
1,0,1,0,1,1,0,1,0,0,1,0,0,1
2,0,1,0,1,1,0,1,0,0,1,0,0,1
3,0,1,0,1,1,0,1,0,0,0,0,0,1
4,0,1,1,0,0,1,1,0,0,1,0,0,1

In [22]:
y_test= classifier.predict(test_data)

In [23]:
# prediction du test set avec 82% de precision
y_test

array([1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1])

In [24]:
d = {'Loan_ID': test_index ,'Loan_Status': y_test}
df = pd.DataFrame(data=d)

In [25]:
df

      Loan_ID  Loan_Status
0    LP001015            1
1    LP001022            1
2    LP001031            1
3    LP001035            1
4    LP001051            1
..        ...          ...
362  LP002971            1
363  LP002975            1
364  LP002980            1
365  LP002986            1
366  LP002989            1

[367 rows x 2 columns]

In [26]:
df.Loan_Status.replace([1,0], ['Y','N'],inplace =True)

In [27]:
df

      Loan_ID Loan_Status
0    LP001015           Y
1    LP001022           Y
2    LP001031           Y
3    LP001035           Y
4    LP001051           Y
..        ...         ...
362  LP002971           Y
363  LP002975           Y
364  LP002980           Y
365  LP002986           Y
366  LP002989           Y

[367 rows x 2 columns]

In [14]:
with open('submission.csv', 'wb') as final:
    pd.to_csv(df, final)

AttributeError: module 'pandas' has no attribute 'to_csv'

In [28]:
df.to_csv('submission1.csv', index=False)

# USE AUTO-SKLEARN

In [29]:
import autosklearn.classification
from autosklearn.experimental.askl2 import AutoSklearn2Classifier
import sklearn.model_selection
from sklearn.metrics import accuracy_score

ModuleNotFoundError: No module named 'autosklearn'